body {
  padding: 50px;
  font: 14px 'Source Code Pro', monospace;;
}

a {
  color: #00B7FF;
}

.nav-title {
  font-size: 22px;
}

.nav-homepage {
  font-size: 17px;
}

.fits {
  display: block;
}

.post-title {
  display: block;
  margin: auto;
  width: 40%;
  padding-top: 20px;
}

.post-image {
  display: block;
  margin: auto;
  width: 40%;
}

.detail-button {
  position: relative;
  left: -103px;
  padding: 12px;
}

.post-user {
  font-size: 16px;
  position: relative;
  left: 135px;
  padding: 13px;
}

.post-user img {
  border-radius: 50%;
  height: 40px;
}

.login {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.logout {
  font-size: 17px;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}



