body {
  padding: 50px;
  font: 14px 'Source Code Pro', monospace;
  background-color: rgb(238, 234, 217);
  color: rgb(89, 42, 44);
}

a {
  color: #00B7FF;
}

.wrapper {
  display: grid;
  place-items: center;
  padding: 200px;
}

.typing {
  width: 29ch;
  animation: typing 2s steps(29), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

.typing-2 {
  width: 25ch;
  animation: typing 2s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.7em;
}

.typing-3 {
  width: 24ch;
  animation: typing 2s steps(24), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.nav-title {
  font-size: 25px;
}

.nav-homepage, .nav-add-fit {
  font-size: 17px;
}

.fits {
  display: block;
}

.index-title {
  display: block;
  margin: auto;
  width: 40%;
  padding-top: 20px;
}

.index-image {
  display: block;
  margin: auto;
  width: 40%;
}

.detail-button {
  position: relative;
  left: -103px;
  padding: 12px;
}

article {
  margin-top: 25px;
  text-align: center;
  border-left: absolute;
  border-radius: 10px;
  color: rgb(rgb(89, 42, 44));
  background-color: rgb(221, 243, 255);
}

.index-user {
  font-size: 16px;
  position: relative;
  left: 135px;
  padding: 13px;
}

.index-user img {
  border-radius: 50%;
  height: 40px;
}

.show-image {
  margin-top: 11px;
}

#show-page {
  text-align: center;
  border-left: absolute;
  border-radius: 10px;
  color: rgb(89, 42, 44);
  background-color: rgb(221, 243, 255);
  padding-right: 50px;
}

#show-title {
  margin-top: 25px;
}

#show-description {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#show-rating-title {
  margin-left: 500px;
}

#add-btn {
  margin-top: 15px;
  margin-left: 480px;
}

#edit-btn {
  margin-top: 72px;
  margin-left: 410px;
}

#update-btn {
  margin-left: 1045px;
}

#submit-btn {
  margin-left: 990px;
}

#comment-delete-btn {
  margin-left: 400px;
}

.login-btn {
  font-size: 15px;
  border-radius: 50px;
  border-color: rgb(255, 255, 255);
}

#delete-btn {
  float: right;
  margin-top:-45px;
}

.login {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.logout {
  font-size: 17px;
}

#comment-page {
  text-align: center;
  padding: 10px;
  margin: 7px;
  border-radius: 10px;
  border-color: black;
  background-color: rgb(221, 243, 255);
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}



